---
AWSTemplateFormatVersion: 2010-09-09
Description: Creates a VPC in a child account
Parameters: 
  pVpcName:
    Type: String
  pVpcCidr: 
    Type: String
Resources:
  rVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref pVpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
      - Key: Name
        Value: !Ref pVpcName
...
